<div class="body">
    <!-- <app-login></app-login> -->
    <!-- <app-databinding></app-databinding> -->
    <!-- <app-directive></app-directive> -->
    <!-- <app-user-list></app-user-list> -->
    <!-- <app-productlist></app-productlist> -->
    <!-- <app-greet></app-greet> -->
    <!-- <app-mymodal>
       <div id="div1">Div-111111111111</div>
    </app-mymodal> -->

    <!-- <app-employee-crud></app-employee-crud> -->
    <!-- <app-pipes></app-pipes> -->
    <!-- <app-parent></app-parent> -->
    <!-- <app-math></app-math> -->
    <!-- <div class="container">
        <div class="row text-center">
            <div class="col-sm-6 border">
                <app-employee-list></app-employee-list>
            </div>
            <div class="col-sm-6 border">
                <app-employee-add></app-employee-add>
            </div>
        </div>
    </div> -->

    <!-- <app-users></app-users> -->
    <!-- <app-emp-api></app-emp-api> -->
    <!-- <app-observabledemo1></app-observabledemo1> -->
    <!-- <app-observabledemo2></app-observabledemo2> -->
    <!-- <app-observabledemo3></app-observabledemo3> -->
    <!-- <app-observabledemo4></app-observabledemo4> -->
    <!-- <app-observabledemo5></app-observabledemo5> -->
    <!-- <app-subjectdemo1></app-subjectdemo1> -->
    <!-- <app-send-message></app-send-message>
    <div class="row">
        <div class="col-sm-6">
            <app-receive-message></app-receive-message>
        </div>
        <div class="col-sm-6">
            <app-receive-message2></app-receive-message2>
        </div>
    </div> -->
    <app-add-todo></app-add-todo><hr/>
    <app-todo-list1></app-todo-list1><hr/>
    <app-todo-list2></app-todo-list2>
</div>