<h2 class="text-center">This is Directive Component</h2>
<hr>
<h4 *ngIf="a%2 === 0">{{a}} is Even Number</h4>
<h4 *ngIf="a%2 !== 0">{{a}} is Odd Number</h4>
<hr>
<div *ngIf="a%2 ===0 ; else odd">
    {{a}} is Even Number
</div>
<ng-template #odd>
    <div>{{a}} is odd number</div>
</ng-template>
<hr />
<h4>Day Number is: {{dayNumber}}</h4>
<h4 [ngSwitch]="dayNumber">
    <p *ngSwitchCase="1">Monday</p>
    <p *ngSwitchCase="2">Tuesday</p>
    <p *ngSwitchCase="3">Wednesday</p>
    <p *ngSwitchCase="4">Thursday</p>
    <p *ngSwitchCase="5">Friday</p>
    <p *ngSwitchCase="6">Saturday</p>
    <p *ngSwitchCase="0">Sunday</p>
    <p *ngSwitchDefault>Not a valid number</p>
</h4>
<hr>
<ol>
    <ng-container *ngFor="let city of cities">
        <li *ngIf="city!=='Pune'">
            {{city}}
        </li>
    </ng-container>
</ol>
<select>
    <option *ngFor="let city of cities">
        {{city}}
    </option>
</select>
<hr />
<div *ngFor="let city of cities;let i=index">
    {{city}}----{{i}}
</div>
<hr />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Sl No.</th>
            <th>Eid</th>
            <th>Name</th>
            <th>Salary</th>
            <th>is First?</th>
            <th>is Last?</th>
            <th>is Even?</th>
            <th>is odd?</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of employees;let i=index;
            let is_first = first;let is_last=last;
            let is_even=even;let is_odd=odd;trackBy:trackByEmpId">
            <td>{{ i+1 }}</td>
            <td>{{emp.eId}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.sal}}</td>
            <td>{{is_first}}</td>
            <td>{{is_last}}</td>
            <td>{{is_even}}</td>
            <td>{{is_odd}}</td>
        </tr>
    </tbody>
</table>
<button class="btn btn-primary" (click)="addEmployee()">Add 1 Emp</button>
<hr>
<h2 [ngStyle]="a%2 ==0?{color:'blue'}:{color:'red'}">
    {{a}} is {{a%2 ==0 ? 'Even Number':'Odd Number'}}
</h2>
<h2 [ngStyle]="a%2 ==0?myBlue:myRed">
    {{a}} is {{a%2 ==0 ? 'Even Number':'Odd Number'}}
</h2>
<h2 [ngClass]="a%2==0?'my-blue':'my-red'">
    {{a}} is {{a%2 ==0 ? 'Even Number':'Odd Number'}}
</h2>

<button class="btn" [ngClass]="a%2==0?'btn-success':'btn-danger'">Click Me</button>
<hr />
<input type="number" [(ngModel)]="charge" >
<h2 [ngClass]="getClass()">Your charge Percentage is: {{charge}}</h2>