<h3 class="text-center">template-driven-form1 works!</h3>

<form #myForm="ngForm" (submit)="submitForm(myForm)">
    <p>
        First name:
        <input name="firstName" ngModel [(ngModel)]="user.firstName" />
    </p>
    <p>
        Last name:
        <input name="lastName" ngModel [(ngModel)]="user.lastName" />
    </p>
    <p>
        email:
        <input name="email" ngModel />
    </p>
    <fieldset ngModelGroup="address">
        <p>Street: <input name="street" ngModel /></p>
        <p>City: <input name="city" ngModel /></p>
        <p>PIN: <input name="pin" ngModel /></p>
    </fieldset>

    <input type="submit" value="Submit" />
    <input type="reset" value="Clear" class="mx-2" />
    <button type="button" (click)="resetForm(myForm)">Reset</button>
</form>

<h2>{{myForm.value | json}}</h2>