<div class="container">
    <div class="row mt-2">
        <div class="col-sm-8">
            <input [(ngModel)]="searchText" type="search" placeholder="Search..." class="form-control">
        </div>
        <div class="col-sm-4 float-right">
            <button class="btn btn-primary" (click)="sortLowToHigh()">Price Low To High</button>
            <button class="btn btn-secondary ms-2" (click)="sortHighToLow()">Price High To Low</button>
            <button (click)="test()">Test</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3"
            *ngFor="let product of products | paginate: { itemsPerPage: 4, currentPage: p } | filter : searchText">
            <div class="card product text-center" zoom>
                <img src={{product.image}} class="card-img-top" alt="not available">
                <div class="card-body">
                    <h5 class="card-title">{{product.category}}</h5>
                    <p class="card-text my-title">{{product.title}}</p>
                    <p class="card-text">Price: {{product.price | currency}}</p>
                    <p class="card-text">Rating: {{product.rating.rate}}</p>
                    <button class="btn btn-primary" [routerLink]="['/productdetails']"
                        [queryParams]="{id:product.id,title:product.title,price:product.price}">View Detail</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 offset-4">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>