<h3 class="text-center">template-driven-form2 works!</h3>

<form #myForm="ngForm" (submit)="submitForm(myForm)">
    <p>
        First name:
        <input name="firstName" #firstName="ngModel" [(ngModel)]="user.firstName" required minlength="5" />
        <span class="text-danger" *ngIf="firstName.hasError('required')">
            FirstName is a Required field 
        </span>
        <span class="text-danger" *ngIf="firstName.hasError('minlength')">
            Minimum 5 Characters required
        </span>
    </p>
    <p>
        Last name:
        <input name="lastName" ngModel [(ngModel)]="user.lastName" />
    </p>
    <p>
        email:
        <input name="email" ngModel [(ngModel)]="user.email" />
    </p>
    <p >
        Hobbies:
        <input type="checkbox" name="cricket" value="playing cricket" ngModel/>playing cricket
        <input type="checkbox" name="tv" value="watching TV"  ngModel/>watching TV
        <input type="checkbox" name="swimming" value="swimming"  ngModel/>swimming
        <input type="checkbox" name="running" value="running"  ngModel/>running
    </p>

    <input type="submit" value="Submit" />
    <input type="reset" value="Clear" class="mx-2" />
</form>

<h2>{{myForm.value | json}}</h2>